! Note: This ricing focuses mainly on the color purple.

! URxvt
URxvt.geometry: 92x24
URxvt*.letterSpace: -2

*.font: xft:mono:pixelsize=24:antialias=true:autohint=true

! special
*.foreground: #ebdbb2
*.background: #282828
*.cursorColor: #E0E0E0

! black
*.color0: #263640
*.color8: #4a697d

! red
*.color1: #EE615C
*.color9: #FD7873

! green replaced with purple
*.color2: #8086e8
*.color10: #7E86FF

! yellow
*.color3: #b08500
*.color11: #d9a400

! blue
*.color4: #AFDDFF
*.color12: #AFDDFF

! magenta
*.color5: #696ebf
*.color13: #8086e8

! cyan
*.color6: #289c93
*.color14: #33c5ba

! white
*.color7: #bfbaac
*.color15: #fdf6e3
